[submodule "third_party/async/asyncplusplus"]
	path = third_party/async/asyncplusplus
	url = https://github.com/Amanieu/asyncplusplus.git
[submodule "third_party/cppitertools/cppitertools"]
	path = third_party/cppitertools/cppitertools
	url = https://github.com/ryanhaining/cppitertools.git
[submodule "third_party/fmtlib/fmt"]
	path = third_party/fmtlib/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third_party/gflags"]
	path = third_party/gflags
	url = https://github.com/gflags/gflags.git
[submodule "third_party/gtest/googletest"]
	path = third_party/gtest/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/strings"]
	path = third_party/strings
	url = https://github.com/apcode/cppstrings.git
